<div class="flex-grow-1 d-flex flex-column align-items-center rounded-top-5 py-4" style="background-color: white;">
  <div *ngIf="!isLoading" style="width: 80%;">
    <div *ngFor="let talentJob of talentJobs | keyvalue : disableSort">
      <p-carousel [value]="talentJob.value" *ngIf="talentJob.value.length > 0" [numVisible]="4" [numScroll]="4" [responsiveOptions]="responsiveOptions">
        <ng-template pTemplate="header">
          <div class="d-flex justify-content-between px-5">
            <h5 class="mb-2">{{talentJob.key}}</h5>
          </div>
        </ng-template>
        <ng-template let-job pTemplate="item">
          <mat-card style="width: 90%;">
            <a [href]="'freelance/' + job.vendor.slugName + '/job/' + job.slugTitle + '/' + truncateDate(job.startDt) + '/' + truncateDate(job.endDt)">
              <ng-container *ngIf="job.vendor.email | image : 'profile' | async as picture">
                <img *ngIf="picture.value" class="border-bottom border-top w-100 object-fit-cover" style="aspect-ratio: 5/3;" mat-card-image [src]="picture.value">
                <div *ngIf="picture.loading" class="border-bottom border-top loading" style="aspect-ratio: 5/3;"></div>
              </ng-container>
              <mat-card-content class="mt-2">
                <div class="d-flex flex-column text-break">
                  <span class="fw-medium text-break">{{job.title}}</span>
                  <span class="text-secondary " style="font-size: 0.8rem;">{{job.vendor.province.name}}</span>
                  <span class="flex-grow-1" style="font-size: 0.7rem;">{{job.vendor.rating.avgRating | number : '1.0-1'}}/5 ({{job.vendor.rating.countRating}} ulasan)</span>
                  <span class="mt-2 fw-medium" style="color: #ec770c;">
                      {{job.minPrice === job.maxPrice ? (job.minPrice | currency: 'Rp' : 'symbol' : '1.0-0') :
                      (job.minPrice | currency: 'Rp' : 'symbol' : '1.0-0') + ' - ' + (job.maxPrice | currency: 'Rp' : 'symbol' : '1.0-0')}}
                  </span>
                </div>
              </mat-card-content>
            </a>
          </mat-card>
        </ng-template>
      </p-carousel>
    </div>
  </div>
  <div class="flex-grow-1 d-flex justify-content-center align-items-center py-3 w-100" *ngIf="isLoading">
    <mat-spinner [diameter]="80" color="accent"></mat-spinner>
  </div>
</div>

