<div class="container">
  <h3>Profil</h3>
  <div class="row">
    <div class="col-4 d-flex flex-column">
      <ng-container *ngIf="vendor" [ngTemplateOutlet]="vendorPicture" [ngTemplateOutletContext]="{vendorData: vendor}"></ng-container>
      <ng-container *ngIf="customer" [ngTemplateOutlet]="customerPicture" [ngTemplateOutletContext]="{customerData: customer}"></ng-container>
    </div>
    <div class="col-8">
      <ng-container *ngIf="vendor" [ngTemplateOutlet]="vendorDetail" [ngTemplateOutletContext]="{vendorData: vendor}"></ng-container>
      <ng-container *ngIf="customer" [ngTemplateOutlet]="customerDetail" [ngTemplateOutletContext]="{customerData: customer}"></ng-container>
    </div>
  </div>
  <div *ngIf="customer && isFreelancer && customer.reviews.length > 0" class="mt-5">
    <p-carousel [value]="customer.reviews"  [numVisible]="4" [numScroll]="4" [responsiveOptions]="responsiveOptions">
      <ng-template pTemplate="header">
          <h5 class="mb-2">Ulasan</h5>
      </ng-template>
      <ng-template let-review pTemplate="item">
        <div class="p-3">
          <mat-card style=" aspect-ratio: 5/3">
            <mat-card-header>
              <p-rating [ngModel]="review.rating" [readonly]="true" [cancel]="false"></p-rating>
            </mat-card-header>
            <mat-card-content>
              <div class="my-2 d-flex align-items-center">
                <mat-icon class="me-1">person</mat-icon>
                <span>{{review.name}}</span>
              </div>
              <hr>
              <span>{{review.review}}</span>
            </mat-card-content>
          </mat-card>
        </div>
      </ng-template>
    </p-carousel>
  </div>
</div>

<ng-template #vendorPicture let-vendor="vendorData">
  <mat-card class="mb-3">
    <mat-card-content class="d-flex flex-column justify-content-center align-items-center">
      <ng-container *ngIf="vendor?.email | image : 'profile' | async as picture">
        <p-image [src]="picture.value ? picture.value : 'assets/image/profile.png'" imageClass="image" class="mb-2" [preview]="true"></p-image>
      </ng-container>
      <h4 class="mb-0">{{vendor.name}}</h4>
      <div>{{vendor.city.name}}, {{vendor.province.name}}</div>
      <div class="d-flex mt-3">
        <p-rating [readonly]="true" [ngModel]="ceiling(vendor.rating.avgRating)" [cancel]="false" class="me-2" style="padding-top:1px;"></p-rating>
        <div>{{vendor.rating.avgRating | number : '1.0-1'}}/5 ({{vendor.rating.countRating}} ulasan)</div>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-content>
      <div *ngFor="let socmed of vendor.socialMedia" class="d-flex justify-content-between align-items-center py-2">
        <div class="d-flex align-items-center">
          <img [src]="'assets/image/' + socmed.platform.name + '.png'" class="me-3 logo">
          <div class="fw-medium fs-5">{{socmed.platform.name}}</div>
        </div>
        <div>{{socmed.username}}</div>
      </div>
    </mat-card-content>
  </mat-card>
</ng-template>

<ng-template #vendorDetail let-vendor="vendorData">
  <mat-card class="mb-3">
    <mat-card-content>
      <div class="row">
        <div class="col-3">Nama</div>
        <div class="col-9 text-secondary">
          {{vendor.name}}
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-3">Email</div>
        <div class="col-9 text-secondary">
          {{vendor.email}}
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-3">Nomor Telepon</div>
        <div class="col-9 text-secondary">
          {{vendor.phone}}
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-3">Provinsi</div>
        <div class="col-9 text-secondary">
          {{vendor.province.name}}
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-3">Kabupaten / Kota</div>
        <div class="col-9 text-secondary">
          {{vendor.city.name}}
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-3">Alamat</div>
        <div class="col-9 text-secondary">
          {{vendor.address}}
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-3">Kategori</div>
        <div class="col-9 text-secondary">
          {{joinName(vendor.categories)}}
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-content>
      <div class="row">
        <div class="col-3">Nomor Rekening</div>
        <div class="col-9 text-secondary">{{vendor.wallet.accountNo}}</div>
      </div>
      <hr>
      <div class="row">
        <div class="col-3">Saldo Evone</div>
        <div class="col-9 text-secondary">{{vendor.wallet.balance | currency: 'Rp' : 'symbol' : '1.0-0'}}</div>
      </div>
    </mat-card-content>
  </mat-card>
</ng-template>

<ng-template #customerPicture let-customer="customerData">
  <mat-card>
    <mat-card-content class="d-flex flex-column justify-content-center align-items-center">
      <ng-container *ngIf="customer?.email | image : 'profile' | async as picture">
        <p-image [src]="picture.value ? picture.value : 'assets/image/profile.png'" imageClass="image" class="mb-2" [preview]="true"></p-image>
      </ng-container>
      <div class="d-flex align-items-center">
        <h4 class="mb-0">{{customer.name}}</h4>
        <button mat-icon-button (click)="onEditProfile()"><mat-icon fontIcon="edit_square" style="color: rgb(43, 146, 43);"></mat-icon></button>
      </div>
      <div class="d-flex mt-3" *ngIf="isFreelancer">
        <p-rating [readonly]="true" [ngModel]="ceiling(customer.rating.avgRating)" [cancel]="false" class="me-2" style="padding-top:1px;"></p-rating>
        <div>{{customer.rating.avgRating | number : '1.0-1'}}/5 ({{customer.rating.countRating}} ulasan)</div>
      </div>
    </mat-card-content>
  </mat-card>
</ng-template>

<ng-template #customerDetail let-customer="customerData">
  <mat-card class="mb-3">
    <mat-card-content>
      <div class="row">
        <div class="col-3">Nama</div>
        <div class="col-9 text-secondary">
          {{customer.name}}
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-3">Email</div>
        <div class="col-9 text-secondary">
          {{customer.email}}
        </div>
      </div>
      <ng-container *ngIf="isFreelancer">
        <hr>
        <div class="row">
          <div class="col-3">Profesi</div>
          <div class="col-9 text-secondary">
            {{joinName(customer.talents)}}
          </div>
        </div>
      </ng-container>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-content>
      <div class="row">
        <div class="col-3">Nomor Rekening</div>
        <div class="col-9 text-secondary">{{customer.wallet.accountNo}}</div>
      </div>
      <hr>
      <div class="row d-flex align-items-center">
        <div class="col-3">Saldo Evone</div>
        <div class="col-6 text-secondary">{{customer.wallet.balance | currency: 'Rp' : 'symbol' : '1.0-0'}}</div>
        <div class="col-3 d-flex justify-content-center">
          <button mat-flat-button color="accent" class="text-white" (click)="onWithdraw()">Tarik Saldo</button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</ng-template>
