<header>
    <mat-toolbar class="d-flex justify-content-between px-5">
        <div>
            <a class="fs-3">EVONE</a>
        </div>
        <div class="d-flex align-items-center">
            <span class="d-flex pe-3">
                <span class="me-3">Vendor</span>
                <span>Freelance</span>
            </span>
            <span class="px-3 border-start border-end border-2 border-dark">
                <button mat-icon-button>
                    <mat-icon fontIcon="favorite"></mat-icon>  
                </button>
                <button mat-icon-button>
                    <mat-icon fontIcon="forum"></mat-icon>
                </button>
            </span>
            <span class="ps-3">
                Halo, <span>nama</span>
            </span>
        </div>
    </mat-toolbar>
</header>
<router-outlet></router-outlet>
<footer>
    <div class="d-flex justify-content-end pe-5 text-light">
        <div class="d-flex flex-column me-5">
            <span class="fs-5">
                Tentang Evone
            </span>
            <span class="d-flex flex-column">
                <a>Pusat Bantuan</a>
                <a>Call Center</a>
                <a>Tentang Kami</a>
            </span>
        </div>
        <div class="d-flex flex-column">
            <span class="fs-5">
                Lain-lain
            </span>
            <span class="d-flex flex-column">
                <a>Peraturan Pengguna</a>
                <a>Blog</a>
                <a>Iklan & Promosi</a>
            </span>
        </div>
    </div>
</footer>