<header>
    <mat-toolbar class="d-flex justify-content-between px-4">
        <div>
            <a class="fs-3 color-primary" routerLink="/">EVONE</a>
        </div>
        <div class="d-flex align-items-center">
            <div class="d-flex pe-3">
                <a class="me-3" routerLink="/vendor">Vendor</a>
                <a class="me-3" routerLink="/freelance">Freelance</a>
                <a class="me-3" routerLink="/product" *ngIf="isVendor">Etalase</a>
            </div>
            <div *ngIf="isLoggedIn" class="px-3 border-start border-end border-2 border-dark">
                <a mat-icon-button color="warn" routerLink="wishlist" *ngIf="!isVendor">
                    <mat-icon fontIcon="favorite"></mat-icon>
                </a>
                <a mat-icon-button color="primary">
                    <mat-icon fontIcon="forum"></mat-icon>
                </a>
            </div>
            <div class="ps-3" [ngClass]="isLoggedIn ? '' : 'border-start border-2 border-dark'">
                <ng-container [ngSwitch]="isLoggedIn">
                    <div *ngSwitchCase="false">
                        <button mat-stroked-button (click)="openLogin()" color="primary" class="me-3 border-inherit">Masuk</button>
                        <button mat-flat-button (click)="openRegister()" color="primary">Daftar</button>
                    </div>
                    <div *ngSwitchDefault>
                        <button mat-fab extended [matMenuTriggerFor]="menu" color="primary" style="box-shadow: none;">
                            <mat-icon fontIcon="account_circle"></mat-icon>
                            {{userName}}
                        </button>
                        <mat-menu #menu="matMenu" xPosition="before">
                          <button mat-menu-item routerLink="/settings/profile">Profil</button>
                          <button mat-menu-item routerLink="/settings/service-order">Pesanan</button>
                          <button mat-menu-item routerLink="/settings/job-order">Pekerjaan</button>
                          <button mat-menu-item (click)="onLogout()">Logout</button>
                        </mat-menu>
                    </div>
                </ng-container>
            </div>
        </div>
    </mat-toolbar>
</header>
<router-outlet></router-outlet>
<footer>
    <div class="d-flex justify-content-end pe-5 text-light">
        <div class="d-flex flex-column me-5">
            <span class="fs-5">
                Tentang Evone
            </span>
            <span class="d-flex flex-column">
                <a [href]="'helpcenter'">Pusat Bantuan</a>
                <a [href]="'callcenter'">Kontak</a>
                <a [href]="'callcenter'">& Tentang Kami</a>
            </span>
        </div>
        <div class="d-flex flex-column">
            <span class="fs-5">
                Lain-lain
            </span>
            <span class="d-flex flex-column">
                <a>Peraturan Pengguna</a>
                <a>Blog</a>
                <a>Iklan & Promosi</a>
            </span>
        </div>
    </div>
</footer>
