<mat-dialog-actions class="d-flex justify-content-between align-items-start">
  <h1 mat-dialog-title class="fs-4 pt-3 pb-1 ps-3">Pendaftaran Pekerjaan</h1>
  <button matDialogClose mat-icon-button>
    <mat-icon fontIcon="close"></mat-icon>
  </button>
</mat-dialog-actions>
<mat-dialog-content class="my-2 pt-0 text-dark" style="max-height: 85vh;">
  <div class="d-flex mb-3">
    <div class="border rounded-start w-25 d-flex align-items-center justify-content-center">
      <h3 class="text-center m-0 color-orange">{{jobOffer.vendor.name}}</h3>
    </div>
    <div class="border rounded-end p-3 w-75">
      <div class="d-flex flex-column">
        <div class="d-flex">
          <div class="me-3">
            <h5 class="color-primary">{{jobOffer.title}}</h5>
            <span>{{jobOffer.vendor.city.name + ', ' + jobOffer.vendor.province.name}}</span>
          </div>
          <ul class="color-primary m-0" style="text-wrap: nowrap;">
            <span>{{jobOffer.occasion.name }}</span>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <form [formGroup]="form" class="row row-cols-1 row-cols-md-2" *ngIf="customer">
    <div class="col d-flex flex-column">
      <h3 class="mb-3">Data Pendaftar</h3>
      <mat-form-field appearance="outline" class="mb-3">
        <mat-label>Nama Lengkap</mat-label>
        <input matInput readonly [value]="customer.name"/>
      </mat-form-field>
      <mat-form-field appearance="outline" class="mb-3">
        <mat-label>Nomor Telepon</mat-label>
        <input matInput readonly [value]="customer.phone"/>
      </mat-form-field>
      <mat-form-field appearance="outline" class="mb-3" subscriptSizing="dynamic">
        <mat-label>Email</mat-label>
        <input matInput readonly [value]="customer.email"/>
      </mat-form-field>
    </div>
  </form>
  <hr>
  <h4 class="color-orange text-end">{{jobOffer.price | currency: 'Rp' : 'symbol' : '1.0-0'}}</h4>
  <div class="mt-3 w-100 d-flex justify-content-end">
    <button style="width: 150px;" mat-flat-button color="primary" (click)="onSubmit()">Daftar</button>
  </div>
</mat-dialog-content>
