<mat-dialog-actions class="d-flex flex-column align-items-start">
  <div class="d-flex justify-content-end w-100">
      <button mat-dialog-close mat-icon-button>
        <mat-icon fontIcon="close"></mat-icon>
      </button>
  </div>
  <h3 class="color-primary fw-medium ps-4">Ubah Profil</h3>
</mat-dialog-actions>
<mat-dialog-content>
  <mat-stepper>
    <mat-step [stepControl]="userFormGroup" label="Registrasi customer">
      <form [formGroup]="userFormGroup" class="pt-2 d-flex flex-column" (submit)="onRegister()">
        <mat-form-field appearance="outline" class="mb-3">
          <mat-label>Nama Lengkap</mat-label>
          <input matInput formControlName="name">
          <mat-error *ngIf="userFormGroup.controls.name.hasError('required')">Nama harus diisi</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="mb-3">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email">
          <mat-error *ngIf="userFormGroup.controls.email.hasError('required')">Email harus diisi</mat-error>
          <mat-error *ngIf="userFormGroup.controls.email.hasError('email')">Format email tidak valid</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="mb-3">
          <mat-label>Kata Sandi Lama</mat-label>
          <input type="password" matInput formControlName="oldPassword">
          <mat-error *ngIf="userFormGroup.controls.oldPassword.hasError('required')">Kata sandi lama harus diisi</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="mb-3">
          <mat-label>Kata Sandi Baru</mat-label>
          <input type="password" matInput formControlName="password">
          <mat-error *ngIf="userFormGroup.controls.password.hasError('required')">Kata sandi baru harus diisi</mat-error>
          <mat-error *ngIf="userFormGroup.controls.password.hasError('minlength')">Kata sandi baru minimal 8 karakter</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="mb-3">
          <mat-label>Konfirmasi Kata Sandi</mat-label>
          <input type="password" matInput formControlName="confirmPassword">
          <mat-error *ngIf="userFormGroup.controls.confirmPassword.hasError('required')">Konfirmasi kata sandi harus diisi</mat-error>
          <mat-error *ngIf="userFormGroup.controls.confirmPassword.hasError('confirmValidator')">Konfirmasi kata sandi tidak cocok</mat-error>
        </mat-form-field>
        <button type="submit" mat-flat-button color="primary" [disabled]="userFormGroup.invalid" class="mb-2">Simpan</button>
        <button type="button" mat-stroked-button matStepperNext color="accent" [disabled]="userFormGroup.invalid" class="d-flex flex-row-reverse">
          <span class="me-2">{{isFreelancer ? 'Ubah profil freelancer' : 'Jadi freelancer'}}</span>
          <mat-icon fontIcon="arrow_forward"></mat-icon>
        </button>
      </form>
    </mat-step>
    <mat-step [stepControl]="freelancerFormGroup" label="Registrasi freelancer" optional (interacted)="profileStepListener()">
      <form [formGroup]="freelancerFormGroup" class="pt-2 d-flex flex-column" (submit)="onRegister()">
        <mat-form-field appearance="outline" class="mb-3">
          <mat-label>Jenis Kelamin</mat-label>
          <mat-select formControlName="gender">
            <mat-option [value]="1">Laki-laki</mat-option>
            <mat-option [value]="2">Perempuan</mat-option>
          </mat-select>
          <mat-error *ngIf="freelancerFormGroup.controls.gender.hasError('required')">Jenis kelamin harus diisi</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="mb-3">
          <mat-label>Nomor Telepon</mat-label>
          <input matInput formControlName="phone">
          <mat-error *ngIf="freelancerFormGroup.controls.phone.hasError('required')">Nomor telepon harus diisi</mat-error>
          <mat-error *ngIf="freelancerFormGroup.controls.phone.hasError('pattern')">Nomor telepon hanya boleh diisi dengan angka</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="mb-3">
          <mat-label>Nomor Rekening</mat-label>
          <input matInput formControlName="accountNo">
          <mat-error *ngIf="freelancerFormGroup.controls.accountNo.hasError('required')">Nomor rekening harus diisi</mat-error>
          <mat-error *ngIf="freelancerFormGroup.controls.accountNo.hasError('pattern')">Nomor rekening hanya boleh diisi dengan angka</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="mb-3">
          <mat-label>Bidang Pekerjaan</mat-label>
          <mat-select formControlName="talents" multiple>
              <mat-option *ngFor="let talent of talents" [value]="talent.id">{{talent.name}}</mat-option>
          </mat-select>
          <mat-error>Bidang pekerjaan dipilih</mat-error>
        </mat-form-field>
        <div class="border pb-4 rounded d-grid" [style.border-color]="borderColor + ' !important'" (mouseenter)="onHover()" (mouseleave)="onBlur()">
          <div class="px-1 floating-label" [style.opacity]="isProfileSelected() ? '1' :'0'">Foto profil*</div>
          <div class="position-relative d-inline-block" [ngClass]="isProfileSelected() ? '' : 'p-4'">
            <p-fileUpload
              mode="basic"
              chooseLabel="Pilih foto profil"
              accept="image/*"
              class="z-1 file-upload"
              (onSelect)="onSelect($event)"
              [style.opacity]="(isProfileSelected() && !isProfileHovered) ? '0' :'1'"></p-fileUpload>
            <img
              *ngIf="uploadedImage"
              class="px-1 profile-image"
              [src]="uploadedImage"
              [style.filter]="isProfileHovered ? 'brightness(0.5)' : ''">
          </div>
        </div>
        <div [style.visibility]="isProfileError ? 'visible' : 'hidden'" class="mb-3 px-3" style="color: #f44336;">Foto profil harus dipilih</div>
        <mat-form-field appearance="outline" class="mb-3 w-100">
          <mat-label>Deskripsi</mat-label>
          <textarea formControlName="description" matInput cdkTextareaAutosize cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5" required></textarea>
          <mat-error *ngIf="freelancerFormGroup.controls.description.hasError('required')">Deskripsi harus diisi</mat-error>
        </mat-form-field>
        <button type="button" mat-stroked-button matStepperPrevious class="d-flex flex-row-reverse background-color-secondary text-white mb-2">
          <span class="me-2">Kembali</span>
          <mat-icon fontIcon="arrow_backward"></mat-icon>
        </button>
        <button type="submit" mat-flat-button color="primary" [disabled]="userFormGroup.invalid || freelancerFormGroup.invalid">Simpan</button>
      </form>
    </mat-step>
  </mat-stepper>
</mat-dialog-content>