<div class="flex-grow-1 d-flex flex-column align-items-center rounded-top-5 p-4" style="background-color: white;">
  <div class="w-75">
    <div
      *ngIf="jobs.length > 0"
      infinite-scroll
      (scrolled)="getJobs(false)"
      [infiniteScrollDistance]="1"
      class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-4 g-3">
      <div *ngFor="let job of jobs" class="col">
        <mat-card class="h-100">
          <a [href]="'freelance/' +job.vendor.slugName + '/job/' +job.slugTitle">
            <ng-container *ngIf="job.vendor.email | image : 'profile' | async as picture">
              <img *ngIf="picture.value" class="border-bottom border-top w-100 object-fit-cover" style="aspect-ratio: 5/3;" mat-card-image [src]="picture.value">
              <div *ngIf="picture.loading" class="border-bottom border-top loading" style="aspect-ratio: 5/3;"></div>
            </ng-container>
            <mat-card-content class="d-flex flex-column text-break flex-grow-1 mt-2">
              <span class="fw-medium text-break">{{job.title}}</span>
              <span class="text-secondary" style="font-size: 0.8rem;">{{job.vendor.city.name}}</span>
              <span class="mt-2 fw-medium d-flex align-items-end flex-grow-1" style="color: #ec770c;">
                {{job.minPrice === job.maxPrice ? (job.minPrice | currency: 'Rp' : 'symbol' : '1.0-0') :
                (job.minPrice | currency: 'Rp' : 'symbol' : '1.0-0') + ' - ' + (job.maxPrice | currency: 'Rp' : 'symbol' : '1.0-0')}}
              </span>
            </mat-card-content>
          </a>
        </mat-card>
      </div>
    </div>
    <div class="flex-grow-1 d-flex justify-content-center align-items-center py-3 w-100" *ngIf="isLoading">
      <mat-spinner [diameter]="80" color="accent"></mat-spinner>
    </div>
    <div class="flex-grow-1 d-flex align-items-center" *ngIf="!isLoading && jobs.length == 0">
      <span>Pekerjaan tidak ditemukan</span>
    </div>
  </div>
</div>

