<!-- <h1 mat-dialog-title class="fs-4 border-bottom border-2 border-secondary-subtle">Filter</h1> -->
<mat-dialog-content class="my-2">
    <div class="d-flex flex-row mb-4">
        <div class="d-flex flex-column flex-grow-1 me-3">
            <span class="ms-3">Jenis Acara</span>
            <mat-form-field appearance="outline" subscriptSizing="dynamic">
                <mat-select placeholder="Semua jenis acara">
                    <mat-option value="pernikahan">Pernikahan</mat-option>
                    <mat-option>Pernikahan</mat-option>
                    <mat-option>Pernikahan</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="d-flex flex-column flex-grow-1 ms-3">
            <span class="ms-3">Lokasi</span>
            <mat-form-field appearance="outline" subscriptSizing="dynamic">
                <mat-select placeholder="Semua lokasi">
                    <mat-option>DKI Jakarta</mat-option>
                    <mat-option>DKI Jakarta</mat-option>
                    <mat-option>DKI Jakarta</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div>
        <span class="ms-3">Rentang Harga</span>
        <div class="d-flex">
            <mat-form-field appearance="outline" subscriptSizing="dynamic" class="min-price flex-grow-1 me-3">
                <input matInput currencyMask [formControl]="minPriceForm" (blur)="checkMinPrice()" (ngModelChange)="doFilterMinPrice()">
            </mat-form-field>
            <mat-form-field appearance="outline" subscriptSizing="dynamic" class="max-price flex-grow-1 ms-3">
                <input matInput currencyMask [formControl]="maxPriceForm" (blur)="checkMaxPrice()" (ngModelChange)="doFilterMaxPrice()">
            </mat-form-field>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button (click)="resetFilter()" [hidden]="!isFiltering()">Reset</button>
    <button mat-flat-button (click)="saveFilter()" color="primary">Simpan</button>
</mat-dialog-actions>
