<nav class="d-flex align-items-center ps-4 pt-3 pb-1" style="background-color: white;">
  <button mat-flat-button class="me-3" (click)="navigate('profile')" [disabled]="submenu === 'profile'">
    Profil
  </button>
  <button mat-flat-button class="me-3" (click)="navigate('service-order')" [disabled]="submenu === 'service-order'">
    Pesanan
  </button>
  <button mat-flat-button class="me-3" (click)="navigate('job-order')" [disabled]="submenu === 'job-order'">
    Pekerjaan
  </button>
</nav>
<div class="mt-5 bg-white flex-grow-1 d-flex flex-column rounded-top-5 p-5">
  <router-outlet></router-outlet>
</div>
