<div *ngIf="jobOffer" class="flex-grow-1 d-flex flex-column rounded-top-5 p-4" style="background-color: white;">
  <div class="container">
    <div class="d-flex" *ngIf="pictures.length === jobOffer.pictures.length">
      <div class="border rounded me-4" style="background: rgba(0, 0, 0, 0.8); height: fit-content;">
        <p-galleria [value]="pictures" [showIndicators]="false" [showThumbnailNavigators]="false" [showItemNavigators]="true">
          <ng-template pTemplate="item" let-item>
            <img *ngIf="item" class="" style="max-height: 400px; object-fit: contain;" [src]="item">
          </ng-template>
          <ng-template pTemplate="thumbnail" let-item>
            <div class="d-flex justify-content-center mx-2">
              <img style="width: 150px;" [src]="item" >
            </div>
          </ng-template>
        </p-galleria>
      </div>
      <div class="d-flex flex-column my-3">
        <div class="d-flex align-items-center mb-1">
          <h3 class="color-primary mb-0 me-2">{{jobOffer.title}}</h3>
          <ng-container *ngIf="!isVendor">
            <button mat-icon-button color="primary" (click)="onChat()"><mat-icon fontIcon="forum"></mat-icon></button>
            <button mat-icon-button color="warn" (click)="onWishlist()" [matTooltip]="wishlist?.id ? 'Hapus dari favorit' : 'Tambahkan ke favorit'">
              <mat-icon [fontIcon]="wishlist?.id ? 'favorite' : 'favorite_outline'"></mat-icon>
            </button>
          </ng-container>
        </div>
        <a [href]="'vendor/' +jobOffer.vendor.slugName" style="text-decoration: underline;">{{jobOffer.vendor.name}}</a>
        <div class="d-flex flex-column mt-1">
          <span>{{jobOffer.vendor.city.name + ', ' + jobOffer.vendor.province.name}}</span>
          <ul class="color-primary row row-cols-2 mt-2" style="text-wrap: nowrap;">
            <li class="col">{{jobOffer.occasion.name}}</li>
          </ul>
        </div>
        <span class="mb-4" style="color: #7A6969; white-space: pre-line;">{{jobOffer.description}}</span>
        <div class="d-flex flex-column my-3">
          <span class="d-flex flex-row w-50" style="color: #7A6969;">
            <span class="w-25">Kategori</span>
            <span>: {{ jobOffer.talent.name}}</span>
          </span>
                <span class="d-flex flex-row w-50" style="color: #7A6969;">
            <span class="w-25">Hari, Tanggal </span>
            <span>: {{ jobOffer.startDt | date:'fullDate' }} - {{ jobOffer.endDt | date:'fullDate' }}</span>
          </span>
                <span class="d-flex flex-row w-50" style="color: #7A6969;">
            <span class="w-25">Lokasi </span>
            <span>: {{ jobOffer.vendor.city.name }} , {{ jobOffer.vendor.province.name }}</span>
          </span>
                <br>
                <h4 class="color-orange">{{jobOffer.price | currency: 'Rp' : 'symbol' : '1.0-0'}}</h4>
        </div>
        <div class="align-self-end" style="width: 150px;" *ngIf="!isLoggedIn || isFreelancer">
          <button mat-flat-button color="primary" class="w-100" (click)="onOrder()">Daftar</button>
        </div>
      </div>
    </div>
  </div>
</div>

