<div class="container">
  <h3 class="me-5 mb-3">Favorit</h3>
  <div>
    <div *ngFor="let wishlist of wishlists">
      <mat-card class="p-2 pointer-event mb-4">
        <a class="d-flex flex-row" [routerLink]="'/freelance/' + wishlist.jobOffer.vendor.slugName + '/job/' + wishlist.jobOffer.slugTitle + '/' + truncateDate(wishlist.jobOffer.startDt) + '/' + truncateDate(wishlist.jobOffer.endDt)">
          <img *ngIf="pictureMap.has(wishlist.id)" class="object-fit-cover rounded me-3" style="width: 160px; height: 120px;" mat-card-image [src]="pictureMap.get(wishlist.id)">
          <div *ngIf="!pictureMap.has(wishlist.id)" class="rounded loading me-3" style="min-width: 160px; height: 120px;"></div>
          <mat-card-content class="d-flex justify-content-between flex-grow-1">
            <div class="d-flex flex-column">
              <span class="fw-medium fs-4 mb-1">{{wishlist.jobOffer.slugTitle}}</span>
              <span class="text-secondary" style="font-size: 0.8rem;">{{wishlist.jobOffer.vendor.province.name}}</span>
              <span class="text-secondary" style="font-size: 0.8rem;">{{wishlist.jobOffer.talent.name}}</span>
            </div>
            <div class="d-flex flex-column align-items-end justify-content-center">
              <span class="fs-4" style="color: #ec770c;">{{wishlist.jobOffer.price | currency: 'Rp' : 'symbol' : '1.0-0'}}</span>
              </div>
          </mat-card-content>
        </a>
      </mat-card>
    </div>
    <div class="flex-grow-1 d-flex align-items-center" *ngIf="wishlists.length == 0">
      <span>Pekerjaan tidak ditemukan</span>
    </div>
  </div>
</div>
