/* You can add global styles to this file, and also import other style files */
@import url("node_modules/angular-notifier/styles");

/* * {margin: 0; padding: 0;} */
body {font-family: Roboto, "Helvetica Neue", sans-serif;}
a {color: inherit; text-decoration: none;}

.color-primary {
    color: #303d97 !important;
}

.color-secondary {
    color: #4c606a !important;
}

.background-color-secondary {
    background-color: #4c606a !important;
}