/* You can add global styles to this file, and also import other style files */
@import url("node_modules/angular-notifier/styles");

/* * {margin: 0; padding: 0;} */
body {font-family: Roboto, "Helvetica Neue", sans-serif;}
a {color: inherit; text-decoration: none;}

.color-primary {
    color: #303d97 !important;
}

.color-secondary {
    color: #4c606a !important;
}

.color-orange {
    color: #ec770c !important;
}

.background-color-secondary {
    background-color: #4c606a !important;
}

.text-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.loading {
    background-color: #babbbc;
    animation: hintloading 2s ease-in-out 0s infinite reverse;
    -webkit-animation: hintloading 2s ease-in-out 0s infinite reverse;
}

.p-rating .p-rating-item.p-rating-item-active .p-rating-icon {
  color: #ffe700;
}

@keyframes hintloading
{
  0% {
    opacity: 0.5;
  }
  50%  {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

@-webkit-keyframes hintloading
{
  0% {
    opacity: 0.5;
  }
  50%  {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
