<div class="container">
  <div class="d-flex align-items-center mb-3">
    <h3 class="me-5">Pesanan</h3>
    <form class="ps-5 flex-grow-1" (submit)="search(input.value)">
      <mat-form-field appearance="outline" subscriptSizing="dynamic" class="w-100">
        <input #input matInput placeholder="Cari pesanan" >
        <button type="button" #button matPrefix mat-icon-button disabled>
          <mat-icon fontIcon="search"></mat-icon>
        </button>
      </mat-form-field>
    </form>
    <button mat-icon-button class="mx-2" (click)="onFilter()">
      <mat-icon [matBadge]="filterCount" [matBadgeHidden]="filterCount == 0" matBadgeColor="accent">filter_alt</mat-icon>
    </button>
  </div>
  <div *ngIf="page">
    <div *ngFor="let serviceTransaction of page.items">
      <mat-card class="p-2 pointer-event mb-4">
        <a class="d-flex flex-row" (click)="onDetail(serviceTransaction)">
          <img *ngIf="pictureMap.has(serviceTransaction.id)" class="object-fit-cover rounded me-3" style="width: 240px; height: 180px;" mat-card-image [src]="pictureMap.get(serviceTransaction.id)">
          <div *ngIf="!pictureMap.has(serviceTransaction.id)" class="rounded loading me-3" style="min-width: 240px; height: 180px;"></div>
          <mat-card-content>
            <div class="mb-3" style="font-size: 0.8rem;">
              <span class="py-1">{{serviceTransaction.createdDt | date : 'dd MMMM YYYY'}} | </span>
              <span class="py-1">{{serviceTransaction.reference}} | </span>
              <span class="p-1 rounded" [style]="serviceTransaction.status | status : 'service-bg'">{{serviceTransaction.status | status : 'service'}}</span>
            </div>
            <div class="d-flex justify-content-between">
              <div>
                <h5>{{serviceTransaction.serviceOffer.title}}</h5>
                <div class="row row-cols-1 text-secondary" style="font-size: 0.8rem;">
                  <div class="col d-flex">
                    <div style="width: 150px;">Harga</div>
                    <div>: {{serviceTransaction.serviceOffer.price | currency: 'Rp' : 'symbol' : '1.0-0'}} / {{serviceTransaction.serviceOffer.minimumQty}} {{serviceTransaction.serviceOffer.category.measureUnit}}</div>
                  </div>
                  <div class="col d-flex">
                    <div style="width: 150px;">Jenis Acara</div>
                    <div>: {{serviceTransaction.occasion.name}}</div>
                  </div>
                  <div class="col d-flex">
                    <div style="width: 150px;">Jumlah Pesanan</div>
                    <div>: {{serviceTransaction.qty}} {{serviceTransaction.serviceOffer.category.measureUnit}}</div>
                  </div>
                  <div class="col d-flex">
                    <div style="width: 150px;">Tanggal Acara</div>
                    <ng-container [ngSwitch]="serviceTransaction.startDt == serviceTransaction.endDt">
                      <div *ngSwitchCase="true">: {{serviceTransaction.startDt | date : 'dd MMMM YYYY'}}</div>
                      <div *ngSwitchDefault>: {{serviceTransaction.startDt | date : 'dd MMMM YYYY'}} - {{serviceTransaction.endDt | date : 'dd MMMM YYYY'}}</div>
                    </ng-container>
                  </div>
                  <div class="col d-flex">
                    <div style="width: 150px;">Lokasi Acara</div>
                    <div>: {{serviceTransaction.address}}</div>
                  </div>
                </div>
              </div>
              <div class="d-flex flex-column justify-content-between">
                <div class="d-flex flex-column justify-content-center align-items-end flex-grow-1">
                  <div>Total</div>
                  <h5 style="color: #ec770c;">{{serviceTransaction.paymentAmount | currency: 'Rp' : 'symbol' : '1.0-0'}}</h5>
                </div>
                <div *ngIf="!serviceTransaction.review && serviceTransaction.status == 3">
                  <p-rating [(ngModel)]="reviewParam.rating" (onRate)="onReview(serviceTransaction)" [cancel]="false"></p-rating>
                </div>
              </div>
            </div>
          </mat-card-content>
        </a>
      </mat-card>
    </div>
  </div>
</div>
