<mat-dialog-actions class="d-flex justify-content-between align-items-start">
    <h1 mat-dialog-title class="fs-4 pt-3 pb-1 ps-3">Masuk</h1>
    <button matDialogClose mat-icon-button>
      <mat-icon fontIcon="close"></mat-icon>
    </button>
</mat-dialog-actions>
<mat-dialog-content>
    <form class="d-flex flex-column" (submit)="onLogin()">
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput name="username" [(ngModel)]="username">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput name="password" type="password" [(ngModel)]="password">
        </mat-form-field>
        <button type="submit" mat-flat-button color="primary" [disabled]="username == undefined || password == undefined">
            Login
        </button>
    </form>
</mat-dialog-content>